@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}
.Titulo{
    font-size: 5em;
    color: aliceblue;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgba(0,212,255,1),#053247);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgba(0,212,255,1),#053247);
}
.fondo{
    background-image:  url(img/montannas3.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    
}
table.mascotas{
    border-collapse: collapse;
    margin: 0;
    width: 80%;
    border: solid #053247;
    box-shadow: 6px 7px 26px -1px rgba(7,74,105,1);
    margin-bottom: 5vh;
}
table.mascotas tr{
    padding: .45em;
}
thead tr{
    background-color: black;
}
thead th{
    color: white;
    font-size: 1.15em;
    
}
tbody tr:nth-child(even){   
    background-color: #A3BAC3;
    color: #fff;
    
}

th a{
    color: #000000;
}

tbody tr:nth-child(odd){   
    background-color: #335d818c;
    color: #fff;
    
}
table.mascotas th, table td{
    font-size: 1em;
    padding: 1em;
    text-align: center;
    
}

@media (max-width:440px){
    table.mascotas{
        border: 3px solid #053247;
    }
    table.mascotas thead tr{
        display: none;
    }
    table.mascotas tr{
        display: block;
    }
    table.mascotas th,table.mascotas td{
        padding: .5em;
    }
    table.mascotas td{
        text-align: right;
        display: block;
        font-size: 1em;
    }

    table.mascota td::before{
        content: attr(scope)": ";
        float: left;
    }
    tbody tr:nth-child(even){
        background-color: #053247;
        color: black;
    }
}

.tabla-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin: 10vh;
}

.agregar{
    font-size: 2em;
    margin-right: 10%; /* Set margin to 20% of the page width */
    align-self: flex-end;
    margin-bottom: 10px;
}


.modificar-button,
.delete-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition for background color change */
}

.modificar-button i {
    color: #fc981c;
    transition: color 0.3s; /* Add a smooth transition for icon color change */
}

.modificar-button:hover {
    background-color: #fc981c; /* Change the button background color on hover */
}

.modificar-button:hover i {
    color: #000000; /* Change the icon color on hover */
}



.delete-button i {
    color: #ff5a66;
    transition: color 0.3s; /* Add a smooth transition for icon color change */
}

.delete-button:hover {
    background-color: #ff5a66; /* Change the button background color on hover */
}

.delete-button:hover i {
    color: #000000; /* Change the icon color on hover */
}
