<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas los clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Table_CRUD.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script defer src="/scriptSearchbar.js"></script>
</head>
<body class="fondo">

  <header class="Navbar hidden">
    <div class="Logo">
        <img src="/img/GatoDoctor.jpeg" alt="un lindo gato">
        <b>VetCare</b>
    </div>
    <div  class="botonesnav">
        <ul class="nav-links">
            <li><a href="/Mascota/todas" >Mascotas</a></li>
            <li><a href="/Clientes/todos" class="pagination-pointed-button">Clientes</a></li>
            
            
        </ul>
    </div>
    
</header>

    <h1 class="Titulo">Todos los clientes</h1>


    <a href="#Top" class="Go-top"> <i class="fa-solid fa-chevron-up"></i></a>
    <a href="#down" class="Go-down"> <i class="fa-solid fa-chevron-down"></i></a>
    
    <div class="tabla-center">

      <div class="annadidos">
        <div class="search-bar">
          <input type="text" id="searchInput" placeholder="Buscar clientes">
        </div>
        <a class="btn btn-success agregar" th:href="@{/Clientes/add}"><i class="fa-solid fa-plus"></i></a>
      </div>

      <table class="mascotas" id="clientTable">
        <thead>
          <tr>
            <th scope="col">nombre</th>
            <th scope="col">cedula</th>
            <th scope="col">corre</th>
            <th scope="col">celular</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr th:each=" Cliente : ${Clientes}">
            <th> <a th:href="@{/Clientes/find/{id}(id=${Cliente.cedula})}" th:text="${Cliente.nombre}"></a></th>
            <th th:text="${Cliente.cedula}"></th>
            <td th:text="${Cliente.corre}"></td>
            <td th:text="${Cliente.celular}"></td>
            <td>
                <a class="modificar-button" th:href="@{/Clientes/update/{id}(id=${Cliente.cedula})}"><i class="far fa-edit" ></i></a>
                <a class="delete-button" th:href="@{/Clientes/delete/{id}(id=${Cliente.cedula})}"><i class="far fa-trash-alt"></i></a>
              </td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <div id="down"></div>
    
    

</body>
</html>