<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/find_id.css">
    <script defer src="/script.js"></script>
    <title>Información cliente</title>
</head>
<body class="fondo">
  
  <div class="container">
    <div class="title"><h1>Información del cliente</h1></div>
    <div class="user-details">
      <div class="input-box">
        <h3>Cédula:</h3>
        <p th:text="${cliente.cedula}" ></p>
      </div>
      <div class="input-box">
        <h3>Nombre:</h3>
        <p th:text="${cliente.nombre}" ></p>
      </div>
      <div class="input-box">
        <h3>Correo:</h3>
        <p th:text="${cliente.corre}" ></p>
      </div>
      <div class="input-box">
        <h3>Celular:</h3>
        <p th:text="${cliente.celular}" ></p>
      </div>
    </div>
  </div>

  

  <table class="mascotas" id="clientTable">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Raza</th>
        <th scope="col">Edad</th>
        <th scope="col">Peso</th>
        <th scope="col">Enfermedad</th>
        <th scope="col">ID</th>
        
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr th:each=" Mascota : ${pets}">
        <th> <a th:href="@{/Mascota/find/{id}(id=${Mascota.ID})}" th:text="${Mascota.Nombre}"></a></th>
        <td th:text="${Mascota.Raza}"></td>
        <td th:text="${Mascota.Edad}"></td>
        <td th:text="${Mascota.Peso}"></td>
        <td th:text="${Mascota.Enfermedad}"></td>
        <td th:text="${Mascota.ID}"></td>
        
      </tr>
    </tbody>
  </table>
    
    
    
    <!-- <div class="tabla-center">
      <table class="mascotas">
        <thead>
          <tr>
            <th scope="col">cedula</th>
            <th scope="col">nombre</th>
            <th scope="col">correo</th>
            <th scope="col">celular</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th th:text="${cliente.cedula}"></th>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.corre}"></td>
            <td th:text="${cliente.celular}"></td>
            
          </tr>
        </tbody>
      </table>
    </div> -->
    

    
</body>
</html>