<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/find_id.css">
    <script defer src="/script.js"></script>
    <title>Informacion cliente</title>
</head>
<body class="fondo">
  
  <div class="container">
    <div class="title"><h1>Informacion del cliente</h1></div>
    <div class="user-details">
      <div class="input-box">
        <h3>Cedula:</h3>
        <p th:text="${cliente.cedula}" ></p>
      </div>
      <div class="input-box">
        <h3>Nombre:</h3>
        <p th:text="${cliente.nombre}" ></p>
      </div>
      <div class="input-box">
        <h3>Correo:</h3>
        <p th:text="${cliente.corre}" ></p>
      </div>
      <div class="input-box">
        <h3>Celular:</h3>
        <p th:text="${cliente.celular}" ></p>
      </div>
    </div>
  </div>
    
    
    
    <!-- <div class="tabla-center">
      <table class="mascotas">
        <thead>
          <tr>
            <th scope="col">cedula</th>
            <th scope="col">nombre</th>
            <th scope="col">correo</th>
            <th scope="col">celular</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th th:text="${cliente.cedula}"></th>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.corre}"></td>
            <td th:text="${cliente.celular}"></td>
            
          </tr>
        </tbody>
      </table>
    </div> -->
    

    
</body>
</html>