<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" , xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas vetcare</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Table_CRUD.css">
    <script defer src="/script.js"></script>
    
</head>
<body class="fondo">
  
    <h1>Todas las mascotas</h1>
    <div class="tabla-center">
      <div style="width: 80%;"></div>
    <table class="mascotas">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Raza</th>
            <th scope="col">Edad</th>
            <th scope="col">Peso</th>
            <th scope="col">Enfermedad</th>
            <th scope="col">ID</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr th:each=" Mascota : ${Mascotas}">
            <th> <a th:href="@{/Mascota/find/{id}(id=${Mascota.ID})}" th:text="${Mascota.Nombre}"></a></th>
            <td th:text="${Mascota.Raza}"></td>
            <td th:text="${Mascota.Edad}"></td>
            <td th:text="${Mascota.Peso}"></td>
            <td th:text="${Mascota.Enfermedad}"></td>
            <td th:text="${Mascota.ID}"></td>
            <td>
              <a class="btn btn-info" th:href="@{/Mascota/update/{id}(id=${Mascota.ID})}">Modificar</a>
              <a class="btn btn-danger" th:href="@{/Mascota/delete/{id}(id=${Mascota.ID})}">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-success agregar" th:href="@{/Mascota/add}">Agregar</a>

    </div>
    
    
    
</body>
</html>