<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Table_CRUD.css">
    <script defer src="/script.js"></script>
    <title>Informacion mascota</title>
</head>
<body class="fondo">
    
    <h1>Informacion del cliente</h1>
    
    <div class="tabla-center">
      <table class="mascotas">
        <thead>
          <tr>
            <th scope="col">cedula</th>
            <th scope="col">nombre</th>
            <th scope="col">correo</th>
            <th scope="col">celular</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th th:text="${cliente.cedula}"></th>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.corre}"></td>
            <td th:text="${cliente.celular}"></td>
            
          </tr>
        </tbody>
      </table>
    </div>
    

    
</body>
</html>