<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" , xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas vetcare</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/script.js"></script>
    
</head>
<body class="fondo">
  <header class="Navbar hidden">
    <div class="Logo">
        <img src="/img/GatoDoctor.jpeg" alt="un lindo gato">
        <b>VetCare</b>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#servicios">Services</a></li>
            <li><a href="#doctores">Doctores</a></li>
        </ul>
    </nav>
    
</header>
    <h1>Todas las mascotas</h1>
    <div style="width: 80%;"></div>
    <table class="mascotas">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Raza</th>
            <th scope="col">Edad</th>
            <th scope="col">Peso</th>
            <th scope="col">Enfermedad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr th:each=" Mascota : ${Mascotas}">
            <th th:text="${Mascota.Nombre}"></th>
            <td th:text="${Mascota.Raza}"></td>
            <td th:text="${Mascota.Edad}"></td>
            <td th:text="${Mascota.Peso}"></td>
            <td th:text="${Mascota.Enfermedad}"></td>
            <td>
              <a class="btn btn-info" th:href="@{/Mascota/update/{id}(id=${Mascota.ID})}">Modificar</a>
              <a class="btn btn-danger" th:href="@{/Mascota/delete/{id}(id=${Mascota.ID})}">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-info" th:href="@{/Mascota/add}">Agregar</a>
</body>
</html>