<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas los clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Table_CRUD.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script defer src="/script.js"></script>
</head>
<body class="fondo">
    <h1 class="Titulo">Todos los clientes</h1>

    <div class="tabla-center">
      <table class="mascotas">
        <thead>
          <tr>
            <th scope="col">nombre</th>
            <th scope="col">cedula</th>
            <th scope="col">corre</th>
            <th scope="col">celular</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr th:each=" Cliente : ${Clientes}">
            <td> <a th:href="@{/Clientes/find/{id}(id=${Cliente.cedula})}" th:text="${Cliente.nombre}"></a></td>
            <th th:text="${Cliente.cedula}"></th>
            <td th:text="${Cliente.corre}"></td>
            <td th:text="${Cliente.celular}"></td>
            <td>
                <a th:href="@{/Clientes/update/{id}(id=${Cliente.cedula})}"><i class="far fa-edit" style="color: #fc981c;"></i></a>
                <a th:href="@{/Clientes/delete/{id}(id=${Cliente.cedula})}"><i class="far fa-trash-alt" style="color: #ff5a66;"></i></a>
              </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-success agregar" th:href="@{/Clientes/add}">Agregar</a>
    </div>
    
    
    
</body>
</html>