<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/script.js"></script>
    <title>Informacion mascota</title>
</head>
<body class="fondo">
    <header class="Navbar hidden">
        <div class="Logo">
            <img src="/img/GatoDoctor.jpeg" alt="un lindo gato">
            <b>VetCare</b>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#servicios">Services</a></li>
                <li><a href="#doctores">Doctores</a></li>
            </ul>
        </nav> 
    </header>
    <h1>Informacion de la mascota</h1>
    <div style="width: 80%;"></div>
    <table class="mascotas">
        <thead>
          <tr>
            <th scope="col">cedula</th>
            <th scope="col">nombre</th>
            <th scope="col">correo</th>
            <th scope="col">celular</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th th:text="${cliente.cedula}"></th>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.corre}"></td>
            <td th:text="${cliente.celular}"></td>
            
          </tr>
        </tbody>
      </table>
    </div>

    
</body>
</html>