<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/find_id.css">
    <script defer src="/script.js"></script>
    <title>Informacion mascota</title>
</head>
<body class="fondo">
  <div class="container">
    
    <div class="title"><h1>Informacion mascota</h1></div>
    <div class="image-box">
      <img th:src="${Mascota.Foto}" alt="Foto de la mascota">
    </div>
    
    <div class="user-details">

      
        <div class="input-box">
          <h2>Nombre:</h2>
          <p th:text="${Mascota.Nombre}"></p>
        </div>
        <div class="input-box">
          <h2>Raza:</h2>
          <p th:text="${Mascota.Raza}"></p>
        </div>
        <div class="input-box">
          <h2>Edad:</h2>
          <p th:text="${Mascota.Edad}"></p>
        </div>
        <div class="input-box">
          <h2>Peso:</h2>
          <p th:text="${Mascota.Peso}"></p>
        </div>
        <div class="input-box">
          <h2>Enfermedad:</h2>
          <p th:text="${Mascota.Enfermedad}"></p>
        </div>

    </div>
    
    
  </div>



    <!-- <div class="tabla-center">
      <div style="width: 80%;"></div>
      <table class="mascotas">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Raza</th>
              <th scope="col">Edad</th>
              <th scope="col">Peso</th>
              <th scope="col">Enfermedad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th th:text="${Mascota.Nombre}"></th>
              <td th:text="${Mascota.Raza}"></td>
              <td th:text="${Mascota.Edad}"></td>
              <td th:text="${Mascota.Peso}"></td>
              <td th:text="${Mascota.Enfermedad}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    

    
</body>
</html>